h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Header */

.menu, .page-header-adress{
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo-span {
    color: #2e2f42;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    padding-top: 14px;
    padding-bottom: 16px;
}

.page-mobile-menu-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
}

.mobile-menu-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    fill: #2F2F37;
    line-height: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-link-studio{
    color: #404bbf;
}

.mobile-menu-link:focus{
    color: #4d5ae5;
}

.page-header-mobile-adress{
    margin-bottom: 48px;
}

.adress-mobile-menu{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.adress-mobile-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-link-phone{
    color: #4d5ae5;
}

.adress-mobile-link:focus{
    color: #4d5ae5;
}

.menu-link-svg{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link-item-svg{
    width: 40px;
    height: 40px;
}

.menu-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-social-link:focus{
    background-color: #404bbf;
}

.page-header-mobile-menu.open {
    opacity: 1;
    visibility: visible;
}

@media only screen and (min-width: 768px) {
    .page-header-mobile-menu,
    .mobile-menu-btn{
        display: none;
    }

    .logo{
        margin-right: 120px;
    }

    .page-header{
        padding: 0;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
        gap: 40px;
    }

    .menu-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-bottom: 24px;
        padding-top: 24px;
    }
    
    .menu-link-studio {
        position: relative;
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-link-studio::after {
        position: absolute;
        content: '';
        display: block;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 1px;
        background-color: #404bbf;
    }

    .page-header-adress {
        display: flex;
        align-items: center;
    }

    .address-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-menu-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media only screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }

    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }

    .address-menu {
        flex-direction: row;
        gap: 40px;
    }

    .address-menu-link{
        font-size: 16px;
        line-height: 1.5;
    }

    .address-menu-link:hover,
    .address-menu-link:focus {
        color: #404bbf;
    }

}
/* /Header */

/* Main-Title */

.title {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url("../images/hero-mobile-bg.jpg");
    background-size: cover;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
}

.site-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 78px;
    max-width: 216px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.btn-service {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-service:focus {
    background: #404bbf;
}

@media only screen and (min-resolution: 192dpi) 
and (max-width: 767px) {
    .title{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-mobile-bg@2x.jpg");
    }
}

@media only screen and (min-width: 768px) {
    .title {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-tablet-bg.jpg");
    }

    .site-title {
        margin-bottom: 36px;
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
    }
}

@media only screen and (min-resolution: 192dpi) 
and (min-width: 768px) {
    .title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-tablet-bg@2x.jpg");
    }
}

@media only screen and (min-width: 1158px) {
    .title {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-desctop-bg.jpg");
    }
        
    .site-title {
        margin-bottom: 48px;
    }

    .btn-service:hover{
        background: #404bbf;
    }
}

@media only screen and (min-resolution: 192dpi) 
and (min-width: 1158px) {
    .title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url("../images/hero-desctop-bg@2x.jpg");
    }
}
/* /Main-Title */

/* Main-benefits */
.benefits {
    padding-top: 96px;
    padding-bottom: 96px;
}

.benefits-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.benefits-svg-container{
    display: none;
}

.benefits-menu-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.benefits-discription {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media only screen and (min-width: 768px) {
    .benefits-menu {
        column-gap: 24px;
        row-gap: 72px;
    }
    .benefits-menu-item {
        width: calc((100% - 24px) / 2);
    }
    .benefits-menu-title {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits-menu{
        gap: 24px;
    }

    .benefits-menu-item {
        width: calc((100% - 72px) / 4);
    }
    
    .benefits-menu-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .benefits-discription {
        font-weight: 400;
    }

    .benefits-svg-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        fill: #2E2F42;
    }
}
/* /Main-benefits */

/* Main-team */
.team {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
}

.team-menu-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
}

.worker {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-menu-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-discription {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-link-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-link-item-svg {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus {
    background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
    .team-menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
    }
}

@media only screen and (min-width: 1158px) {
    .team-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .team-menu-item {
        width: calc((100% - 72px) / 4);
    }

    .social-link:hover{
        background-color: #404bbf;
    }
}
/* /Main-team */

/* Main-portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
}

@media only screen and (max-width: 1157px) {
    .portfolio-menu-item {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}


.portfolio-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.portfolio-menu-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-discription {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-container {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-img-item {
    position: relative;
    overflow: hidden;
}

.description {
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    overflow: auto;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-menu-item:hover .description{
    transform: translateY(0%);
}

@media only screen and (min-width: 768px) {
    .portfolio-menu {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-img{
        width: 356px;
        height: 300px;
    }
} 

@media screen and (min-width: 1158px) {
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-menu {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-img {
        width: 360px;
        height: 300px;
    }

    .portfolio-menu-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-menu-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
    }
}
/* /Main-portfolio */

/* Footer */
.page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 17px;
}

.page-footer {
    background: #2e2f42;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-discription {
    max-width: 288px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-logo-conatiner{
    margin-bottom: 72px;
}

.social-title {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-team-link-svg{
    gap: 16px;
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.social-link-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-conatiner{
    margin-bottom: 72px;
}

.subscribe-discription {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.email-form-input {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 288px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    margin-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.email-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.submit-input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-input-btn:hover,
.submit-input-btn:focus {
    background-color: #404bbf;
}

.btn-svg {
    margin-left: 16px;
    fill: #fff;
}

.email-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        display: inline-block;
        text-align: start;
    }

    .footer-discription {
        max-width: 264px;
    }

    .footer-conatiner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 24px;
        padding-left: 108px;
    }

    .social-media-conatiner {
        margin-bottom: 108px;
    }

    .social-title {
        text-align: start;
    }

    .email-form-input {
        margin: 0;
        width: 264px;
    }

    .subscribe-discription {
        text-align: start;
    }

    .email-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-conatiner {
        align-items: baseline;
        gap: 0;
        padding-left: 15px;
    }

    .footer-logo-conatiner {
         margin-right: 120px;
         margin-bottom: 0;
    }

    .social-media-conatiner {
        margin-right: 80px;
        margin-bottom: 0;
    }

    .email-form-input {
        opacity: 1;
    }

    .submit-input-btn {
        cursor: pointer;
    }
              
}
/* /Footer */

/* Backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}
/* /Backdrop */

/* Modal */
.modal {
    padding-top: 72px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    fill: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    fill: #FFFFFF;
    background-color: #404bbf;
}

.icon-close-btn-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* /Modal */

/* Form */
.backdrop-discription {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 256px;
    margin-bottom: 16px;
}

.modal-container {
    margin-bottom: 8px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.rewie-form-input-wrapper {
    position: relative;
}

.rewie-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.rewie-form-input-icon {
    fill: #4d5ae5;
}

.modal-form-message {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    width: 100%;
    height: 120px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.modal-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-container-comment {
    margin-bottom: 16px;
}

.modal-field-checkbox {
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-checkbox:checked+.modal-field-checkbox .review-form-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border-color: #404bbf;
    border: none;
}

.modal-form-checkbox:focus+.modal-field-checkbox .review-form-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
    border: none;
}

.review-form-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 7px;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pricy-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-field-disc{
    padding-left: 24px;
    padding-bottom: 1px;
}

.modal-checkbox-container {
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
    .backdrop-discription {
        max-width: 360px;
    }

    .review-form-checkbox {
        margin-top: 0;
    }
}

/* /Form */